body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.text-orange {
    color: #ee7911 !important;
}

.text-vert {
    color: #32623d !important;
}

.bg-orange {
    background-color: #ee7911 !important;
}

.bg-vert {
    background-color: #32623d !important;
}

.bg-orange-opacity {
    background-color: #ee78119a !important;
}

.bg-vert-opacity {
    background-color: #32623d9a !important;
}

.navbar .nav-link {
    font-weight: bold;
    text-decoration: none;
}

.navbar .nav-link:hover {
    text-decoration: underline;
}

.sticky-under-navbar {
    position: sticky;
    top: 64px;
    /* hauteur de ta navbar */
    z-index: 1030;
    /* au-dessus du contenu */
    background-color: white;
}


.bg-header {
    height: 72vh;
    background-image: url('../images/fond-header.png');
    background-size: cover;
    background-position: center;
    margin-top: 1rem !important;
}


h1 {
    text-align: center;
    margin-top: 2rem;
    color: #343a40;
}

.fade-in {
    opacity: 0;
    animation: fadeIn ease-in 1s forwards;
    animation-delay: 0.2s;
}

.form-control:focus,
.form-select:focus {
    border-color: #32623d !important;
    box-shadow: 0 0 0 .25rem rgba(13, 253, 81, 0.25) !important;
}

.btn-orange {
    color: #ffffff;
    background-color: #ee7811de;
    border-color: #ee7811de;
}

.btn-outline-orange {
    color: #ee7911;
    background-color: #ffffff;
    border-color: #ee7911;
}

.border-orange {
    border-color: #ee7811de;
    box-shadow: 0 0 0 .15rem #ee7911 !important;
}

.double-border-bottom {
    /* position: relative; */
    padding-bottom: 8px;
    /* pour laisser la place au pseudo */
    border-bottom: 3px solid #ee7911;
    /* première couleur */
}

.double-border-bottom::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    /* ou un autre % selon le rendu voulu */
    background-color: #32623d;
    /* deuxième couleur */
}


.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active {
    color: #ffffff;
    background-color: #ff7700;
    border-color: #ffffff;
}

.btn-outline-orange:hover,
.btn-outline-orange:focus,
.btn-outline-orange:active {
    color: #ffffff;
    background-color: #ee7911;
    border-color: #ee7911;
}

.nav-link {
    color: #32623d !important;
}

.btn-vert {
    color: #ffffff !important;
    background-color: #32623d;
    border-color: #32623d;
}

.btn-vert:hover,
.btn-vert:focus,
.btn-vert:active {
    color: #ffffff;
    background-color: #486232e0;
    border-color: #ffffff;
}

.btn-outline-vert {
    color: #32623d;
    background-color: #ffffff;
    border-color: #32623d;
}

.btn-outline-vert:hover,
.btn-outline-vert:focus,
.btn-outline-vert:active {
    color: #ffffff;
    background-color: #32623d;
    border-color: #32623d;
}

.prix-euro {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ee7911;
    /* ou la couleur que tu veux */
}

.prix-euro sup {
    font-size: 0.65em;
    vertical-align: baseline;
    color: #32623d !important;
}

.ui-menu {
    background-color: #32623d;
    color: white;
    border: 1px solid #32623d;
    z-index: 2000;
}

.ui-menu-item-wrapper:hover {
    background-color: #546232;
    border-color: #ee7911;
}

.form-floating>.form-control {
    height: calc(3.5rem + 2px);
    /* ou ajustable selon ton design */
    padding: 1rem .75rem;
    font-size: 1rem;
}

.form-floating>label {
    padding: .5rem .75rem;
    font-size: 0.95rem;
    color: #6c757d;
}

.form-floating>.form-control.form-control-lg {
    height: calc(3.8rem + 2px);
    padding: 1.1rem .75rem;
    font-size: 1.05rem;
}

#map {
    height: 350px;
}

/* Collapse */
.accordion-button:not(.collapsed) {
    color: #32623d !important;
    font-weight: bold;
    background-color:  #ee78117d !important;
}

.accordion-button.collapsed {
    color: #32623d !important;
    background-color:  #ee78112d !important;
}

/* Hack pour Select2 dans form-floating Bootstrap */
.form-floating>.select2-container {
    height: calc(3.5rem + 2px);
}

.select2-selection--single {
    height: 100% !important;
    padding-top: 1.625rem !important;
}

.select2-selection__rendered {
    padding-left: 0.75rem !important;
}

.select2-selection__arrow {
    top: 10px !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #ee781167;
}

.select2-results__option--selected {
    background-color: #ee7811ab !important;
}

/* Avatar */
.profile-card {
    position: relative;
    padding-top: 60px;
    margin-top: 100px;
}

.profile-avatar-container {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    height: 110px;
}

.profile-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(206, 212, 218);
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.edit-avatar-button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, 30%);
    z-index: 2;
}

.profile-avatar-container.verified .profile-avatar {
    border: 4px solid #28a745;
}

.profile-avatar-container.verified::after {
    content: "\F531";
    /* bi-shield-check-fill */
    font-family: 'bootstrap-icons';
    position: absolute;
    bottom: -12px;
    right: 40%;
    background-color: #fff;
    color: #28a745;
    border-radius: 50%;
    padding: 0px;
    z-index: 100;
}

/* Profil sur les notes */

.img-note .profile-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid rgb(206, 212, 218);
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.img-note.verified .profile-avatar{
    border: 2px solid #28a745;
}

.img-note.verified::after {
    content: "\F531";
    /* bi-shield-check-fill */
    font-family: 'bootstrap-icons';
    font-size: 10px;
    position: absolute;
    bottom: -10px;
    right: 40%;
    background-color: #fff;
    color: #28a745;
    border-radius: 50%;
    padding: 0px;
    z-index: 100;
}

.footer-bg-dark-subtle {
    font-size: 0.9rem !important;
}

.no-caret::after {
	display: none !important;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 767.99px) {
    .bg-header {
        height: 100vh;
    }

    .bg-header .display-5 {
        font-size: calc(1.1rem + 1.5vw) !important;
    }

    .bg-header .lead {
        font-size: 0.8rem !important;
    }

    .footer-bg-dark-subtle {
    font-size: 0.7rem !important;
}
}

@media screen and (max-height: 1333.99px) {
    .bg-header {
        margin-top: 1.2rem !important;
    }
}