{% extends 'base.html.twig' %}

{% block title %}Test Affiche{% endblock %}

{% block body %}
<div class="container text-center pt-5">
    <h1>Affiche générée</h1>
    <img src="{{ imagePath }}" alt="Affiche générée" class="img-fluid mt-3 rounded shadow">
</div>
{% endblock %}
