<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HaloGari | Covoiturage à Mayotte{% endblock %}</title>

    {% include 'partials/bootstrap-link.html.twig' %}
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    {% block stylesheets %}{% endblock %}
  </head>

  <body class="d-flex flex-column min-vh-100">
    {% include 'partials/navbar.html.twig' %}
    
    {% block body %}{% endblock %}

    {% include 'partials/footer.html.twig' %}
    {% include 'partials/bootstrap-script.html.twig' %}

		{% for type, messages in app.flashes %}{% for message in messages %}
		<script>
			Swal.fire({
				icon: "{{ type == 'success' ? 'success' : 'error' }}",title: "{% if type == 'success' %}Réussie{% else %}Échec{% endif %}",text: "{{ message }}",timer: 3000,showConfirmButton: false
			});
		</script>
		{% endfor %}{% endfor %}
    {% block javascripts %}{% endblock %}
  </body>
</html>
