{% extends 'base.html.twig' %}

{% block title %}HaloGari | Chercher un trajet{% endblock %}


{% block body %}
	<div class="container py-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h1 class="mb-4 text-center">Chercher un trajet</h1>
				<form method="GET" action="/chercher" class="p-4 border rounded shadow-sm bg-light">
					<div class="mb-3">
						<label for="select_departure" class="form-label">Ville de départ <span class="text-orange">*</span> :</label>
						<input list="liste-villes" name="select_departure" class="form-control villages" placeholder="Ville de départ" required>
					</div>

					<div class="mb-3">
						<label for="select_arrival" class="form-label">Ville d'arrivée <span class="text-orange">*</span> :</label>
						<input list="liste-villes-arrivee" name="select_arrival" class="form-control villages" placeholder="Ville d'arrivée" required>
					</div>

					<div class="row mb-3">
						<div class="col-md-6">
							<label for="date_trajet" class="form-label">Date du trajet <span class="text-orange">*</span> :</label>
							<input type="text" id="date_trajet" name="date_trajet" class="form-control dateDepart" placeholder="Choisir une date" required>
						</div>
						<div class="col-md-6">
							<label for="prix_max" class="form-label">Prix maximum (€) :
								<small>optionnel</small>
							</label>
							<input type="number" id="prix_max" name="prix_max" class="form-control" placeholder="Prix max (€)" min="0" step="0.01">
						</div>
					</div>

					<div class="mb-3">
						<label for="places_min" class="form-label">Nombre de places minimum :
							<small>optionnel</small>
						</label>
						<input type="number" id="places_min" name="places_min" class="form-control" placeholder="Places min" min="1">
					</div>

					<div class="text-center">
						<button type="submit" class="btn btn-orange">Rechercher</button>
					</div>
				</form>

			</div>
		</div>
	</div>
{% endblock %}

