{% extends 'base.html.twig' %}

{% block title %}HaloGari | Chercher un trajet
{% endblock %}


{% block body %}
	<div class="container py-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h1 class="mb-4 text-center">Chercher un trajet</h1>
				<form
					method="GET" id="form-recherche" action="{{ path('app_chercher') }}" class="p-4 border rounded shadow-sm bg-light">

					{# Départ #}
					<div class="mb-3">
						<div class="input-group">
							<span class="input-group-text text-vert">
								<i class="bi bi-geo-fill"></i>
							</span>
							<div class="form-floating">
								<input list="liste-villes" id="select_departure" class="form-control villages" name="select_departure" placeholder="Village de départ" required>
								<label for="select_departure">Village de départ</label>
							</div>
						</div>
					</div>

					{# Arrivée #}
					<div class="mb-3">
						<div class="input-group">
							<span class="input-group-text text-vert">
								<i class="bi bi-flag-fill"></i>
							</span>
							<div class="form-floating">
								<input list="liste-villes-arrivee" id="select_arrival" name="select_arrival" class="form-control villages" placeholder="Village d'arrivée" required>
								<label for="select_arrival">Village d'arrivée</label>
							</div>
						</div>
					</div>

					{# Date #}
					<div class="mb-3">
						<div class="input-group">
							<span class="input-group-text text-vert">
								<i class="bi bi-calendar2-event-fill"></i>
							</span>
							<div class="form-floating">
								<input type="text" id="date" class="form-control dateDepart" name="date_trajet" placeholder="Date du trajet" required>
								<label for="date">Date du trajet</label>
							</div>
						</div>
					</div>

					{# Places #}
					<div class="mb-3">
						<div class="input-group">
							<span class="input-group-text text-vert">
								<i class="bi bi-people-fill"></i>
							</span>
							<div class="form-floating">
								<select class="form-select" id="places" name="places_min" required>
									{% for i in 1..8 %}
										<option value="{{ i }}">{{ i }}</option>
									{% endfor %}
								</select>
								<label for="places">Nombre de passagers</label>
							</div>
						</div>
					</div>

					{# Bouton #}
					<div class="text-center">
						<button type="submit" class="btn btn-orange">Rechercher</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
