{% extends 'base.html.twig' %}

{% block title %}HaloGari | Mon profil{% endblock %}

{% block body %}
<section class="app-page-header app-page-header--compact">
  <div class="container">
    <p class="app-kicker">Compte</p>
    <h1>Mon profil</h1>
    <p>Gérez votre identité, votre téléphone et votre photo de profil.</p>
  </div>
</section>

<section class="container settings-page">
  <div class="d-grid gap-4">
    {% include 'user/partials/_profile_photo_form.html.twig' %}
    {% include 'user/partials/_personal_info_form.html.twig' %}
  </div>
</section>
{% endblock %}

{% block javascripts %}
  {% include 'user/partials/_settings_scripts.html.twig' %}
{% endblock %}
